{% extends "base1.html" %}

{% block title %}User All Foods{% endblock %}

{% block content %}
     
<div class="item item-1">
    <div class="img-fill">
        <div class="text-content">    
            <h1 style="color: white;">All Foods</h1>
            <div style="overflow-y: scroll; max-height: 500px;">
                <table>
                    <thead>
                        <tr>
                            <th>FID</th>
                            <th>Restaurant ID</th>
                            <th>Restaurant</th>
                            <th>Location</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Table1</th>
                            <th>Table2</th>
                            <th>Table3</th>
                            <th>Select</th>
                            <th>Date</th>
                            <th>Book </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for food in foods_data %}
                            <tr>
                                <form action="/book_table" method="post" >
                                    {%csrf_token%}
                                    <td><input name="fid" size= "5" style="color:black; border:none" value="{{food.0 }}" readonly /></td>
                                    <td><input name="resid" size= "5" style="color:black; border:none" value="{{food.1 }}" readonly /> </td>
                                    <td><input name="resname" size= "5" style="color:black; border:none" value="{{food.2 }}" readonly /> </td>
                                    <td><input name="resloc" size= "5" style="color:black; border:none" value="{{food.3 }}" readonly /></td>
                                    <td><img src="{{ food.4 }}" alt="Food Image" class="food-image" ></td>
                                    <td class="food-name"> <input name="food" size= "5" style="color:black; border:none" value="{{food.5 }}" readonly /></td>
                                    <td> <textarea> {{ food.6 }} </textarea></td>
                                    <td>{{ food.7 }}</td>
                                    <td>{{ food.8 }}</td>
                                    <td>{{ food.9 }}</td>
                                    <td><select type="text" class="form-control" name="table" style="color: black; border-color: black; width: 70px;" placeholder="Table" required>
                                        <option value="T1">T1</option>
                                        <option value="T2">T2</option>
                                        <option value="T3">T3</option>
                                    </select></td>
                                    <td><input type="date" id="dateandtime" name="dateandtime" min="2023-01-01" max="2999-12-31" required ></td>
                                    <td><input type="submit" value="Book Table"  class="btn btn-lg" style="border-color: white; background-color: lime;"> </td>
                                </form> 
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script>
                    var currentDate = new Date();
                    var formattedDate = currentDate.toISOString().split('T')[0];
                    document.getElementById('dateandtime').value = formattedDate;
                </script>
                <style>
                    body {
                        font-family: Arial, sans-serif;
                        margin: 20px;
                    }
            
                    table {
                        width: 100%;
                        border-collapse: collapse;
                        margin-top: 20px;
                    }
            
                    th, td {
                        border: 1px solid #dddddd;
                        text-align: left;
                        padding: 8px;
                    }
            
                    th {
                        background-color: #f2f2f2;
                    }
            
                    tr:hover {
                        background-color: #f5f5f5;
                    }
            
                    .food-image {
                        max-width: 50px;
                        max-height: 100px;
                        border-radius: 5px;
                    }
            
                    .food-name {
                        font-weight: bold;
                    }
                </style>
            </div>
            <h3 style="color: lime;">{{fid}}</h3>
            <h3 style="color: red;">{{msg}}</h3>
        </div>
    </div>           
</div>
{% endblock %}